@use '../../utilities/responsive';
@use '../../components/buttons' as button;

.about {
    height: 100vh;
    display: grid;
    padding: var(--gap-m) var(--gap-m);
    color: var(--color-light);

    @include responsive.max(30rem) {
        padding: var(--gap-s) var(--gap-s);
    }

    &-section {
        padding: var(--gap-m) var(--gap-m);
        text-align: center;
        background-color: var(--color-light-200);
        color: rgb(0, 0, 0);
    }
    @include responsive.max(30rem) {
        padding: var(--gap-s) var(--gap-s);
    }

    &__us {
        font-size: var(--font-size-6);
        font-size: clamp(var(--font-size-2), 5vw, var(--font-size-6));
        font-weight: 300;
        margin: 0.5rem 0 0 0;
        color: var(--color-accent);
    }

    &__team {
        font-size: var(--font-size-6);
        font-size: clamp(var(--font-size-2), 5vw, var(--font-size-6));
        padding: 4px;
        text-align: center;
        color: var(--color-accent);
    }
}

.cards {
    background: var(--color-light-200);
    padding: 0;
}

.card {
    max-width: 300px;
    background: var(--color-light);
    padding: 20px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
    flex-grow: 1; 
    margin-bottom: 50px;

    &-inner {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        // align-items: flex-start;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__img {
        margin: 0;
    }

    &__title {
        text-align: center;
        color: var(--color-accent);
    }

    &__meta {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        @include button.default($icon-opacity: 0.34);

        @include responsive.max(40rem) {
            font-size: var(--font-size-1);
        }

        svg {
            transition: all 0.2s;
        }

        &:hover {
            svg {
                opacity: 1;
                transform: rotate(90deg);
            }
        }
    }

    &__readmore, &__share,
    &__tag, &__date {
        font-size: var(--font-size-1);
        color: var(--color-dark-300);
        text-decoration: none;
    }

    &__tags {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__content p {
        line-height: 1.5;
        color: var(--color-light-700)
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

}
